# dependencies
node_modules/
.pnp
.pnp.js

# next
.next/
out/

# production
build/
dist/

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env*.local

# os
.DS_Store
Thumbs.db

# ide
.idea/
.vscode/
*.swp

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
